@font-face {
    font-family: Bernina;
    src: url(fonts/BerninaSans-Web-CondensedBold.woff2);
}

body {
    background-color: #F7FFFF;
    margin: 0px;
}

/*Image Principale*/
.img-background {
    width: 100%;
    height: auto;
}
.text-background {
    position: absolute;
    top: 8px;
    right: 16px;
    text-align: center;
    background-color : #810426;
    padding: 10px;
    color: white;
    font-family: Bernina;
    letter-spacing: 2px;
    border-radius: 15px;
    transform: rotate(30deg);
    margin-top: 60px;
}
.police {
    font-size: 10px;
}
.conteneur-annonce {
    display: flex;
    justify-content: flex-end;
}

/*Main*/
.main {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 730px;
}

/*Logo*/
.logo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}
.text-logo {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    font-family: Bernina;
    letter-spacing: 3px;
    color: #02465C;
}

/*Text centrale*/
.titre-content, .text-content {
    text-align: center;
}
.titre-content, .text-content, .text-footer {
    font-family: Bernina;
    color: #02465C;
}
.content {
    padding-left: 10px;
    padding-right: 10px;
}

/*Footer*/
.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.cryolipolyse, .cryotherapie, .autres {
    overflow:hidden;
    -webkit-border-radius:205px;
    -moz-border-radius:205px;
    border-radius:205px;
    width:245px;
    height:245px;
}
.text-footer {
    margin-top: 5%;
    text-align: right;
    letter-spacing: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

@media all and (max-width: 480px) {
    .text-footer {
        text-align: left;
    }
    .autres {
        order: 1;
    }
    .footer {
        justify-content: center;
        flex-wrap: wrap;
    }
    .main {
        width: 100%;
    }
}

@media all and (min-width: 481px) and (max-width: 768px){
    .text-footer {
        text-align: left;
    }
    .footer {
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .main {
        width: 100%;
    }
}
